.home{
    background: url('../img/background.jpg');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    /* background-position: 85% 50% !important; */
}

.home-black{
    background: url('../img/background-dark.png');
    background-size: cover
}

.selectBox{
    width: 220px;
    height: 220px;
    border: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    cursor: pointer;
}
.selectBox:hover{
    border: 3px #D93108 solid;
}
.selectBox:hover p{
    color: #D93108 !important;
}


@media (max-width: 61.9em) {
    .home {
        background-size: 80% !important;
        background-position: 120% 105% !important;
    }
}

.react-datepicker-popper{
    z-index: 1000 !important;
}